@charset "UTF-8";
/* poppins */
@font-face { font-family: Poppins; font-style: normal; font-weight: 200; src: local(※), url('../fonts/poppins-v15-latin-200.woff') format('woff2'); }

@font-face { font-family: Poppins; font-style: normal; font-weight: 300; src: local(※), url("../fonts/poppins-v15-latin-300.woff") format("woff"); }

@font-face { font-family: Poppins; font-style: normal; font-weight: 400; src: local(※), url("../fonts/poppins-v15-latin-regular.woff") format("woff"); }

@font-face { font-family: Poppins; font-style: normal; font-weight: 500; src: local(※), url("../fonts/poppins-v15-latin-500.woff") format("woff"); }

@font-face { font-family: Poppins; font-style: normal; font-weight: 600; src: local(※), url("../fonts/poppins-v15-latin-600.woff") format("woff"); }

@font-face { font-family: Poppins; font-style: normal; font-weight: 700; src: local(※), url("../fonts/poppins-v15-latin-700.woff") format("woff"); }

/* Notosans */
@font-face { font-family: NotoSans; font-weight: 400; src: local(※), url(../fonts/NotoSansKR-Regular.woff) format("woff"); }

@font-face { font-family: NotoSans; font-weight: 500; src: local(※), url(../fonts/NotoSansKR-Medium.woff) format("woff"); }

@font-face { font-family: NotoSans; font-weight: 700; src: local(※), url(../fonts/NotoSansKR-Bold.woff) format("woff"); }
